body {
  font-family: 'Lato',arial,sans-serif;
  font-weight: 300;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  background: rgba(50,90,140,1);
  align-items: center;
}

.offpage {
  position: absolute;
  left: -1000px;
}

.skip {
  color: blue;
  background: white;
  position: absolute;
  left: -500px;
  padding:5px;
  
}
.skip:focus {
  top: 50px;
  left: 0;
  -webkit-transition: linear .25s;
  transition: linear .25s;

}

header {
  background: rgba(50,90,140,1);
  background-image: linear-gradient(rgba(50,140,200,1), rgba(50,90,140,1));
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header-contact {
 background: rgba(30,30,30,1);
 font-size: .9em;
 width: 100%
}

.header-contact ul{
  justify-content: space-around;
  list-style-type: none;
  padding: 1% 0;
  text-align: center;
  border-bottom: 3px solid rgb(250, 128, 114);

}

.header-contact a{
  color: rgba(255,255,255,1);
}

.header-contact li{
  color: rgba(255,255,255,1);
  padding-bottom: 2%;
}

header img {
  /*filter: invert(100%);*/
  /*align-self: center;*/
  padding: 3% 0;
  width: 100%;
  filter: drop-shadow(0px 3px 1px black);
}

header nav{ 
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 3% 0;
  font-size: 1.2em;
}  

header nav ul{
  justify-content: space-between;
  text-align: center;
}

header nav li {
  margin: .7em 0;
}

header nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

header nav a:hover,a:focus{
 /* text-decoration-line: underline;
  text-decoration-color: rgb(250,128,144);*/
  text-shadow: 0px 3px 1px black;
}

header .current {
  font-size: 1.3em;
  font-weight: 700;
  font-style: italic;
  color: white;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(250,128,144);
   text-shadow: 0px 5px 1px black;
  /*text-decoration-line: underline;*/
  /*text-decoration-style: wavy;*/
}

/*---------------- MAIN ---------------*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(250,250,240,1);
  /*padding-bottom:5%;*/
}

main img{
  object-fit: cover;
  width: 100%;
  height: 40vh;
  object-position: 0 0;
  border-top: 3px solid rgba(30, 30, 30, 1);
  border-bottom: 3px solid rgba(50,140,200,1);
  /*align-self: center;*/
  /*max-width: 500px;*/
  /*border-radius: 3%;*/
  /*border: 2px solid rgba(250,250,230,1);*/
  /*margin: auto 15%;*/
}

br {
  line-height: 150%;
}

.lead-quote{
  font-size: 1.3em;
  line-height: 130%;
  font-style: italic;
  align-self: center;
  text-align: center;
}


.map {
  margin: 2% auto;
  /*border-radius: 10px;*/
  overflow: hidden;
  width: 80%;
  border: 2px solid darkgrey;
}

iframe {
  width: 100%;
  height: 50vh;
  /*border: 2px solid orange;*/
}

main p, main a, main address{
  margin: 1% 5%;
  color: black;
}


main li {
  margin: 2% 5% 0 5%;
  list-style-type: none;
  text-align: center; 
}
/*
.instagram {
  width:99%;
  height: 20vh;
  border: 2px solid orange;
}*/


.timeline {
  display:flex;
  background: rgba(250,250,240,1);
  height: 40vh;
  overflow:hidden;
}

.desc-display {
  width:65%;
  overflow:scroll;
  padding: 2% 2% 2% 5%;
}

.story-scroll {
  width: 35%;
  overflow: scroll;
}

.story-scroll ul {
  padding-left:0;
  margin:0;
}

.story-scroll li{
  text-align: left;
  color:black;
  border-top: 1px solid black;
  padding: 3% 0 3% 10%;
  margin:0;
  background:salmon;
}

.story-scroll li:first-child {
  border:none;
}

.story-scroll p{
  display: none;
  color: black;
}

h2,label,legend {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  margin: 5% 2% 1% 2%;
  color: black;
  text-transform: uppercase;
  line-height: 110%;
  text-align: center;
}

h2, legend {
  margin: 3% 0;
  padding: 2% 0;
  background: rgba(50,140,200,1);
  border-top: 3px solid rgba(30, 30, 30, 1);
  border-bottom: 3px solid salmon;
}

.lowercase {
  text-transform: lowercase;
  margin-bottom: 0;
}

.instagram img {
  height:auto;
  border:none;
  /*box-shadow: 2px 2px 5px black;
  margin-left:30px;*/
}

main > h2 {
  color:white;
  margin:0 0 3% 0;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  margin-top: 1%;
}

.product-gallery {
  height:45vh;
}

.placeholder {
  position: absolute;
  width:100%;
  height:40vh;
  text-align:center;
  background: purple;
  border-bottom: 3px solid rgba(50,140,200,1);
  object-position: 50% 50%;
}

.gallery-images  {
  position:absolute;
  width:100%;
  display: none;
}

.controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-button, .right-button {
    position: relative;
    top: 3px;
    width: 10%;
    height: 40vh;
    background: rgba(250,250,250,.85);
    align-self: flex-start;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-button { 
    align-self: flex-end;
}

.caption {
  position:relative;
  margin-top:2%;
  top:41vh;
  width:100%;
  height: 2em;
  text-align: center;
  background: white;
  background: rgba(250,250,250,0);
  font-size: .8em;
}

.back-to-top {
  padding: 20px;
  background: rgb(240, 126, 113);
  border-radius: 0 10px 10px 0;
  border: 1px solid black;
  border-left: none;
  color:black;
  position: fixed;
  align-self: flex-start;
  bottom: 50%;
  box-shadow: 0 2px 3px black;
  display:none;
  z-index: 2;
}

.contact-lead {
  width:100%;
  margin-bottom:0;
  border: none;
  background: rgba(50,90,140,1);
}

.contact-content {
  width: 75%;
  margin-left: 10%;
}

.contact-content h2 {
  text-align: left;
  margin:3% 0 1% 0;
  padding-left:2%;
  background:none;
  border:none;
}

form {
  margin: 3% 0;
}

fieldset {
  margin: 0 3%;
  display:flex;
}

legend {
  width: 100%;
}

label {
  margin:0;
  margin-right: 10px;
  float:left;
  text-align:right;
  font-size:1em;
  width:120px;
}

input {
  height:1.5em;
  padding: 2% 1%;
  width: 150px;
}

textarea {
  resize:none;
  width: 120px;
  height: 50px;
}

textarea:focus, input:focus {
  border: 2px solid salmon;
}

input[type=submit] {
  background: salmon;
  border-radius: 5px;
  margin: 5%;
  text-align: center;
  font-size: 1.2em;
}

/*----------- FOOTER THINGS ----------------*/

footer{
  color:rgba(255,255,255,1);
  background: rgba(30,30,30,1);
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  min-height: 10vh;
}

footer ul{
  margin: 3% 0 5% 0;
  display: none;
  justify-content: space-around;
}

footer  a{
  color: rgba(255,255,255,1);
  /*margin: 0 10%;*/
  display: none;
}

footer .current {
  text-decoration-style: wavy;
}

footer a:hover, footer a:focus {
  text-decoration-style: wavy;
  color: white;
}

.footer_credits {
  margin: 1% 0 4% 0;
  text-align: center;
  display: block;
}

/*----------- MEDIA QUERY -----------------*/

/*--------- FOR TABLET / SMALL BROWSER ---------*/

@media screen and (min-width:800px) {
  
  
  .header-contact li{
  padding: 0;
  } 
    
  .header-contact ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1% 0;
  }

  header nav {
    margin: 0 0 4% 0;
    width: 80%;
  }

  header nav ul{
  display: flex;
  justify-content: space-around;
  } 

  .back-to-top {
    display: none;
  }

  main {
    background: rgba(50,90,140,1);
    background-image: linear-gradient(rgba(50,90,140,1),rgba(50,140,200,1), rgba(50,90,140,1));
  }

  h2 {
    background:none;
    border:none;
    padding:0;
    margin:7% 0 2% 0;
  }

  legend {
    background: none;
    border:none;
  }

  .wide h2{
    margin:2% 0 1% 0;
  }

  .contact_body {
    display:grid;
    grid-template-columns: 1fr 1fr
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
    background: rgba(250,250,240,1);
    border-radius: 3px;
    border: 3px solid rgb(250, 128, 114);
    margin-bottom: 3%;
    align-items: flex-start;
  }

  .grid-item {
    width: 95%;
  }

  img.grid-item {
    margin: -15px 0 0 -15px;
    box-shadow: 2px 2px 5px black;
    width:100%; 
    border:none;
  }

  .wide {
    grid-column:1/3;
    width:100%;
  }

  .lowercase {
  margin-bottom: 3%;
}

  .instagram img {
  box-shadow: 2px 2px 5px black;
  width:110%;
}

  .timeline {
    margin:0;
  }

  .story-scroll {
    width: 85%;
  }

  .controls {
    position:relative;
    width:78%;
  }

  .caption {
    position:static;
  }

  .left-button,.right-button{
    background:salmon;
  }

  .placeholder {
    width:50%;
  }

  .product-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top:3%;
  }

  .desc-display {#0000FF
    width:60%;
  }

  .product {
    align-self: flex-start;
  }

  .contact-lead {
    margin-bottom:3%;
    color:white;
  }

  .map{
    height: 50vh;
  }

  .right-offset {
  height: 300px;
  margin-left: 30px;
  box-shadow: 2px 2px 5px black;
  border:none;
  }

  .map-wide {
    grid-column:1/3;
  }

  .footer-credits {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2%;  
  }

  footer a {
    display:block;
  }

  footer ul {
    display:flex;
  }

  footer li {
    padding-right: 10px;
  }

}

/*--------- FOR PRINT ---------*/

@media print {
  header img{
    filter: none;
  }

  body {
    margin: 0 .5in .5in .5in;
    color: black;
  }

  * {
    color: black;
  }
  main img, .map {
    display: none;
  }

  .product-gallery {
    display: none; 
  }

  .header-contact ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  }

  .back-to-top {
    display: none;
  }

  header nav {
    width: 100%;
    margin-top: 0;
  }

  header .current {
    color: black;
  }

  header nav ul{
  display: flex;
  justify-content: space-around;
  } 

  h2,h3{
    color: rgba(50,50,50,1);
  }
  
  p, .product p, .lead-quote p, .our-story p, div p, main p, .contact-content address, .contact-content a{
    color: black;
  }

  .story-scroll {
    width: 100%;
    overflow: visible;
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: none;
  }

}



